<!DOCTYPE html>
<html>
  <head>
    <% include ./common/head %>
  </head>
  <body>
    dev page
    <div id='content'>
    </div>
  </body>
  <script>
    const socket = io('/dev', {forceNew: true});
    socket.on('connect', ()=>{
      console.log('dev');
    })

    socket.on('pic', data => {
      const pic = buf2img(data.pic)
      let img = document.createElement('img');
      img.src = pic
      img.dataset.idx = data.idx;

      document.getElementById('content').appendChild(img);
    })

  </script>
</html>