<!DOCTYPE html>
<html>
  <head>
    <% include ./common/head %>
  </head>
  <body>
    <% include ./common/header %>
    <style>
      @media screen and (max-width: 575px) { /* the smallest size */
        .preview-img {
          width: 100%;
          display: inline-block;
          background-color: lightgray;
        }
      }

      @media screen and (min-width: 576px) {
        .preview-img {
          width: 100%;
          display: inline-block;
          background-color: lightgray;
        }
      }

      .preview-txt {
        height: 150px;
        width: 100%;
        display: inline-block;
        text-indent: 25px;
        background-color: lightgray;
        font: -webkit-control;
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
      }


    </style>

    <main>
    
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row" id="books">
          </div>
        </div>
      </div>


      <script>
        const socket = io('/index', {forceNew: true});

        socket.on('connect', ()=>{
          console.log('index');
        })
        
        socket.on('index', raw => {
          const data = raw.book;

          let preview = data.type === 'txt' ? 
          `<div class="preview-txt" data-holder-rendered="true" data-src="${data._id}">${data.preview}</div>` :
          `<img class="preview-img" data-holder-rendered="true" src="${buf2img(data.preview)}" data-src="${data._id}">`;

          let book = document.createElement('div');
          book.classList = 'col-sm-6 col-md-4 col-lg-3 col-xl-3';
          book.innerHTML = `
                  <div class="card mb-4 shadow-sm">
                    ${preview}              
                    <div class="card-body">
                      <p class="card-text">${data.path}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">btn1</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">btn2</button>
                        </div>
                        <small class="text-muted">${data.added}</small>
                      </div>
                    </div>
                  </div>  `;
          
          document.getElementById('books').appendChild(book);
        });


      </script>

    </main>
    <% include ./common/footer %>
  </body>
</html>
