<!DOCTYPE html>
<html>
  <head>
    <% include ./common/head %>
  </head>
  <body>
    <% include ./common/header %>
    <main>
    
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            <% if(books != null && books.length > 0){ %>
              <% books.forEach(function(book) { %>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-to" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="<%= book._id %>" style="height: 225px; width: 100%; display: block;" src="#" data-holder-rendered="true">
                    <div class="card-body">
                      <p class="card-text"><%= book.path %></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">btn1</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">btn2</button>
                        </div>
                        <small class="text-muted">created time</small>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            <% }else{ %>
              <p class="text-muted">라이브러리 스캔 중입니다.</p>
            <% } %>

          </div>
        </div>
      </div>

    </main>
    <% include ./common/footer %>
  </body>
</html>
