<!DOCTYPE html>
<html>
  <head>
    <% include ./common/head %>
  </head>
  <body>
    <div id='content'>
    </div>
  </body>

  <script>

  </script>
  <script src="/js/reader.js"></script>

</html>