<header>
<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
      </div>

      <div class="col-sm-2 offset-md-2 py-4">
        <h4 class="text-white">Buttons</h4>
        <% if(logined){ %>
          <form class="py-1" action="/auth/logout" method="post">
            <button class="btn btn-outline-light" type="submit">로그아웃</button>
          </form>
        <% } %>
        <button class="btn btn-outline-light">설정</button>
      </div>

    </div>
  </div>
</div>

<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">

    <form class="form-inline mr-auto">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
    </form>
    <!-- <a href="#" class="navbar-brand d-flex align-items-center">
      <strong>Title</strong>
    </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
</header>